// sass --watch scss/sanju-creative.scss:css/sanju-creative.css
// ROBOTO :  Light 300,Regular 400,Medium 500,Bold 700,Black 900
// ALADIN :  Regular 400
// font-family: 'Aladin', cursive;
// font-family: 'Roboto', sans-serif;

@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Roboto:wght@300;400;500;700;900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto-font;
    font-size: $base-font-size;
    background: $base-bgclr;
    margin: 50px;
    color: $base-fontclr;
}

// MAIN NAV BAR STYLES START
.navbar {
    .navbar-toggler {
        border: none;

        &:focus {
            outline: none !important;
            border: none !important;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-right: 20px;
            font-weight: 300;

            a {
                @include transition;
                padding: 15px 0;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

// MAIN NAV BAR STYLES END

// MAIN CONTENT CONTAINER START
.content-container {
    background-color: $container-bgclr;
    border: solid 1px $container-bdrclr;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
    padding: 50px;

    .main-cont-container {
        padding-top: 120px;

        .title {
            font-family: 'Aladin', cursive;
            font-size: 48px;
            color: $white;
            margin-bottom: 24px;
        }

        .explore-btn-sec {
            margin-top: 56px;

            .explore-btn {
                display: inline-block;
                margin: 0 auto;
                font-size: 18px;
                font-family: 'Aladin', cursive;
                padding: 10px 45px;
                color: $base-bgclr;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe6b2+0,ff9b0c+100 */
                background: #ffe6b2;
                /* Old browsers */
                background: -moz-linear-gradient(top, #ffe6b2 0%, #ff9b0c 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #ffe6b2 0%, #ff9b0c 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #ffe6b2 0%, #ff9b0c 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6b2', endColorstr='#ff9b0c', GradientType=0);
                /* IE6-9 */
                text-decoration: none;

                -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
                -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
                box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
                @include transition;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .cards-container {
            margin-top: 40px;
            margin-bottom: 50px;
            text-align: center;

            .main-cards {
                width: 224px;
                display: inline-block;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                margin-right: 16px;
                margin-bottom: 16px;
                @include transition;

                &:last-child {
                    margin-right: 0;
                }

                &.gods {
                    padding: 16px;
                    background: #E43D83;
                    cursor: pointer;

                    .icons {
                        background: url(../icons/ganesha.svg) no-repeat center bottom;
                    }
                }

                &.festival {
                    background: #4661FF;
                    padding: 16px;
                    cursor: pointer;

                    .icons {
                        background: url(../icons/festival.svg) no-repeat center bottom;
                    }
                }

                &.creativity {
                    background: #FF2C36;
                    padding: 16px;
                    cursor: pointer;

                    .icons {
                        background: url(../icons/creativity.svg) no-repeat center bottom;
                    }
                }

                &.others {
                    background: #DA9124;
                    padding: 16px;
                    cursor: pointer;

                    .icons {
                        background: url(../icons/others.svg) no-repeat center bottom;
                    }
                }

                &:hover .fireworks {
                    animation: rotation 2s infinite linear;
                }

                @keyframes rotation {
                    to {
                        transform: rotate(360deg);
                    }
                }

                .icons {
                    height: 126px;
                }

                .category-title {
                    font-family: $aladin-font;
                    font-size: 24px;
                    color: $white;
                    margin-top: 28px;
                }

                .fireworks {
                    height: 30px;
                    width: 30px;
                    margin-top: 8px;
                }
            }
        }


        .drawing-collections {
            .drawing-title {
                font-size: 32px;
                font-family: $aladin-font;
                color: $white;
                padding-bottom: 16px;
                margin-bottom: 32px;
                border-bottom: solid 1px rgba(255, 255, 255, 0.2);
            }

            .festivalcollection-container,
            .creativitycollection-container,
            .othercollection-container {
                display: none;
            }

            .godcollection-container,
            .festivalcollection-container,
            .creativitycollection-container,
            .othercollection-container {
                padding-top: 50px;
            }


            .drawing-details-container {
                width: 100%;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                margin-bottom: 32px;

                .img-box {
                    width: 100%;
                    height: 300px;
                    -webkit-border-top-left-radius: 10px;
                    -webkit-border-top-right-radius: 10px;
                    -moz-border-radius-topleft: 10px;
                    -moz-border-radius-topright: 10px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .location {
                    font-size: 14px;
                    font-family: $roboto-font;
                    font-weight: 400;
                    color: $white;
                    padding: 16px 16px 8px 16px;
                }

                .posted-dt {
                    font-size: 12px;
                    font-family: $roboto-font;
                    font-weight: 300;
                    color: rgb(210, 210, 210);
                    padding: 0px 16px 16px 16px;
                }

                &.gods {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}

#scrollTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    background-color: #2266b0;
    display: none;
    border-radius: 55px;
    z-index: 9999;
    text-align: center;
    padding-top: 8px;
    height: 40px;
    width: 40px;
    padding: 10px;

    img {
        width: 20px;
        height: auto;
    }
}

// MAIN CONTENT CONTAINER END

// MODAL WINDOW START
#about-sanjana {
    .modal-content {
        background-color: #1A2B5F;

        .modal-header {
            font-family: $aladin-font;
            font-size: 24px;
            color: $white;
            position: relative;
            border-bottom: solid 1px rgba(255, 255, 255, 0.2);

            .close {
                width: 50px;
                height: auto;
                margin-top: 10px;
                position: absolute;
                right: 24px;
                top: -3px;
            }
        }

        .modal-body {


            .profile-pic {
                background: url(../images/sanjana-profile-pic.jpg) no-repeat;
                background-size: contain;
                display: block;
                height: 160px;
                width: 160px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                margin: 0 auto;
                margin: 10px auto 0 auto;
                border: solid 2px #eee;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            }

            .about-cont {
                font-size: 16px;
                padding: 30px;
                color: $base-fontclr;
                text-align: center;
                font-family: $roboto-font;
                font-weight: 300;
                line-height: 26px;

                a {
                    color: $base-fontclr;
                }
            }
        }
    }
}

// MODAL WINDOW END






// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body {
        margin: 10px;

        .navbar-nav {
            margin-top: 40px !important;
        }

        .content-container {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 16px;
        }

        .main-cont-container {
            margin-top: 32px;
            padding-top: 60px !important;

            .title {
                font-size: 28px !important;
                margin-bottom: 16px !important;
            }

            .cards-container {
                .main-cards {
                    width: 48% !important;
                    padding-top: 30px !important;
                    margin-bottom: 4px !important;

                    .icons {
                        display: none;
                    }

                    .category-title {
                        font-size: 22px !important;
                        margin-top: 0 !important;
                    }

                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        margin: 10px;

        .navbar-nav {
            margin-top: 40px !important;
        }

        .content-container {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 16px;
        }

        .main-cont-container {
            margin-top: 32px;
            padding-top: 60px !important;

            .title {
                font-size: 28px !important;
                margin-bottom: 16px !important;
            }

            .cards-container {
                .main-cards {
                    width: 48% !important;
                    padding-top: 30px !important;
                    margin-bottom: 4px !important;

                    .icons {
                        display: block;
                    }

                    .category-title {
                        font-size: 22px !important;
                        margin-top: 16px !important;
                    }

                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}