@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: #162246;
  margin: 50px;
  color: #969EB5;
}

.navbar .navbar-nav .nav-item {
  margin-right: 20px;
  font-weight: 300;
}
.navbar .navbar-nav .nav-item a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-nav .nav-item a:hover {
  color: #fff;
}

.content-container {
  background-color: #1A2B5F;
  border: solid 1px #070D1F;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  padding: 50px;
}
.content-container .main-cont-container {
  min-height: 65vh;
}
.content-container .main-cont-container .title {
  font-family: "Aladin", cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 24px;
}
.content-container .main-cont-container .explore-btn-sec {
  margin-top: 56px;
}
.content-container .main-cont-container .explore-btn-sec .explore-btn {
  display: inline-block;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Aladin", cursive;
  padding: 10px 45px;
  color: #162246;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe6b2+0,ff9b0c+100 */
  background: #ffe6b2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffe6b2 0%, #ff9b0c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffe6b2 0%, #ff9b0c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffe6b2 0%, #ff9b0c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe6b2", endColorstr="#ff9b0c", GradientType=0);
  /* IE6-9 */
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content-container .main-cont-container .explore-btn-sec .explore-btn:hover {
  text-decoration: none;
}
.content-container .main-cont-container .cards-container {
  margin-top: 40px;
  text-align: center;
}
.content-container .main-cont-container .cards-container .main-cards {
  width: 224px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content-container .main-cont-container .cards-container .main-cards:last-child {
  margin-right: 0;
}
.content-container .main-cont-container .cards-container .main-cards.gods {
  padding: 16px;
  background: #E43D83;
}
.content-container .main-cont-container .cards-container .main-cards.gods .icons {
  background: url(../icons/ganesha.svg) no-repeat center bottom;
}
.content-container .main-cont-container .cards-container .main-cards.festival {
  background: #4661FF;
  padding: 16px;
}
.content-container .main-cont-container .cards-container .main-cards.festival .icons {
  background: url(../icons/festival.svg) no-repeat center bottom;
}
.content-container .main-cont-container .cards-container .main-cards.creativity {
  background: #FF2C36;
  padding: 16px;
}
.content-container .main-cont-container .cards-container .main-cards.creativity .icons {
  background: url(../icons/creativity.svg) no-repeat center bottom;
}
.content-container .main-cont-container .cards-container .main-cards.others {
  background: #DA9124;
  padding: 16px;
}
.content-container .main-cont-container .cards-container .main-cards.others .icons {
  background: url(../icons/others.svg) no-repeat center bottom;
}
.content-container .main-cont-container .cards-container .main-cards:hover .fireworks {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
.content-container .main-cont-container .cards-container .main-cards .icons {
  height: 126px;
}
.content-container .main-cont-container .cards-container .main-cards .category-title {
  font-family: "Aladin", cursive;
  font-size: 24px;
  color: #fff;
  margin-top: 28px;
}
.content-container .main-cont-container .cards-container .main-cards .fireworks {
  height: 30px;
  width: 30px;
  margin-top: 8px;
}

@media (max-width: 575.98px) {
  body {
    margin: 10px;
  }
  body .content-container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 16px;
  }
  body .main-cont-container {
    margin-top: 32px;
  }
  body .main-cont-container .title {
    font-size: 28px !important;
    margin-bottom: 16px !important;
  }
  body .main-cont-container .cards-container .main-cards {
    width: 100% !important;
    padding-top: 30px !important;
  }
}

/*# sourceMappingURL=sanju-creative.css.map */
